*.pyc
.CHANGELOG.md.swp
.ropeproject/
dist/
examples/notebooks/.ipynb_checkpoints/
examples/python/
mapclassify_Iron.egg-info/
mapclassify_Iron/.ropeproject/
mapclassify_Iron/datasets/calemp/.ropeproject/
mapclassify_Iron/tests/.ropeproject/
.DS_Store
.vscode/settings.json
__pycache__
/notebooks/.ipynb_checkpoints/
*.egg-info
.pytest_cache
.ruff_cache